@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

div#content{
    max-width: 1600px;
    margin: 0 auto;
}
.home-title{
    font-family:'Rock salt';
    font-size: 2em;
    margin-top: 10px;
  }
header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}

.msg h2 {
    font-family: 'Rock Salt';
    font-size: 22px;
  }
.msg p{
    font-family:'Roboto' ;
    font-size: .8em;
    padding-bottom: 15px;
}  
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
nav a {
    text-align: center;
    min-width: 120px;  
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
  }
.home-title{
    color: white;
    font-size: 2em;
    margin-top: 10px;
    
   
}

.rivers-title{
    font-size: calc((37px + .027219*((100vw - 375px)))*1);
    line-height: 1.066667;
    width: 100%
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
  }
  
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: white;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.button-box {
    text-align: center;
  }
main section {
    text-align: center;
  }  
#background {
    height: 725px;
    width: 100%;
    background-color: silver;
    grid-column: 1/11;
    grid-row: 4/9;
} 
body {
    background-color:white ;
    font-family: 'Rock Salt', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
h2 {
    margin: 0;
}
header {
    background-color: grey ;
}
nav a:hover {
    background-color:rgb(13, 12, 12);
}
.book, .join {
    background-color: burlywood ;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #503B31;
}
main section img {
    box-sizing: border-box;
}
.card-img, .mountains {
    width: 100%;
}            
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.mountains{
    margin: 50px 0;
}
.book:hover, .join:hover {
    background-color: rgb(14, 14, 14);
    color: #fcfbfb;
    text-decoration: none;
}
#background {
    background-color: burlywood;
}
.msg {
    background-color: grey;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px silver
}
footer {
    background-color: grey;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
  background-color: grey;
  color: #fcfbfb;
  text-decoration: none;
}  
footer a:hover {
    background-color: rgb(13, 13, 12);
}  
.logo {
    width: 80px;
}
#rivers-vid{
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        position:absolute;
        overflow:hidden;
    }
    
    
    
#hero-img{
        width:100%;
    }
    
#river-img{
        width:100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    
#hero-msg{
        grid-column: 2 /3;
        grid-row: 1/2;
        margin-top: 100px;
    }
    
#river-msg{
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 100px;
        opacity: .8;
    
    }
#river-msg h1{
        text-align: center;
        color: white
        
    
    }
    
#hero-msg h1, #hero-msg h4{
        text-align: center;
    }
    
#hero{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        margin-top: -100px;
    }
    
#river{
        display: grid;
        margin-top: 0px;
    }
    
#hero-box{
        grid-column: 1/4;
        grid-row: 1/3;
        z-index: -1;
    }
    
#river-box{
        grid-column: 1/4;
        grid-row: 1/3;
        z-index: -1
    }
    
.home-grid{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }  
.rivers-msg h2 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        padding-top: 20px
    }
    
.rivers-msg p{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-family: inherit;
        font-size: 100%;
        vertical-align: baseline;
        line-height: 1.5;
    } 
.footer h3{
        color:white;    
}   
footer h3 a:hover{
    text-decoration: underline;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
}  
#hero-img {
        width: 100%;
}    
.footer p {
    font-size: 1.2em;
}    
footer .social img{
    padding-top: 15px;
}  
.contact{
    margin-top: 200px;
    float:left;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3
}



.rivers-card{
    margin-bottom:200px;
    grid-column: 2/4;
    grid-row: 2/3;
}

.card-img{
    border: 5px solid silver;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px silver;
}

.rivers-type{
    transition: transform .5s;
    box-shadow: 5px 5px 10px silver;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    
}
.mountains{
    width:100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px silver
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: silver;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
